APScheduler==3.10.4
attrs==23.2.0
blinker==1.8.2
catboost==1.2.5
cattrs==23.2.3
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
exceptiongroup==1.2.1
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.53.0
geographiclib==2.0
geopy==2.4.1
graphviz==0.20.3
idna==3.7
importlib_metadata==7.1.0
importlib_resources==6.4.0
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.9.0
numpy==1.26.4
openmeteo_requests==1.2.0
openmeteo_sdk==1.11.7
packaging==24.1
pandas==2.2.2
pillow==10.3.0
platformdirs==4.2.2
plotly==5.22.0
psycopg2-binary==2.9.9
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
requests-cache==1.2.0
retry-requests==2.0.0
scipy==1.13.1
six==1.16.0
SQLAlchemy==2.0.30
tenacity==8.3.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
url-normalize==1.4.3
urllib3==2.2.1
Werkzeug==3.0.3
zipp==3.19.2
